Question 1

In [1]:
a=["delhi",[1,2],23.45,(1,2,7)]

In [2]:
a

['delhi', [1, 2], 23.45, (1, 2, 7)]

Question 2

var1 is string

In [7]:
var1 = ""

In [8]:
type(var1)

str

var2 is also string

In [ ]:
var2 = '[ DS , ML , Python]'

In [58]:
type(var2)

str

Data types of var3 is list

In [21]:
var3 = [ 'DS' , 'ML' , 'PYTHON' ]

In [23]:
type(var3)

list

Data types of var4 is float

In [26]:
var4 = 1.

In [25]:
type(var4)

float

Question3

1./ this operator is used to perform division which gave float value as answer.example

In [52]:
2/4

0.5

(ii) % this operator is used to perform modulo  which gave remainder value as answer.example

In [54]:
4%3

1

(iii) // this operator is used to perform division which gave int value as answer.example

In [56]:
34//4

8

(iv) **this operator is used to perform power operation.

In [57]:
2**3

8

Questiion 4

In [27]:
l=[1,3,5,"rai",4.5,True,[4,6],3,5,9]

In [28]:
l

[1, 3, 5, 'rai', 4.5, True, [4, 6], 3, 5, 9]

In [31]:
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
3
<class 'int'>
5
<class 'int'>
rai
<class 'str'>
4.5
<class 'float'>
True
<class 'bool'>
[4, 6]
<class 'list'>
3
<class 'int'>
5
<class 'int'>
9
<class 'int'>

Question 4

In [38]:
A=int(input("enter A"))
B=int(input("enter B"))

count=0

while A % B == 0:
    count+=1
    A=A/B
    
if count > 0:
    print("A can purely divide by B", count ,"times")
else:
    print("A can not purely divide by B")

enter A36
enter B2
A can purely divide by B 2 times

QUESTION 5

In [41]:
L=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,2,0,21,231,34,3]
for i in L:
    print(i)
    if i%3==0:
        print("element is divisible by 3")
    else:
        print('not divisible by 3')

1
not divisible by 3
2
not divisible by 3
3
element is divisible by 3
4
not divisible by 3
5
not divisible by 3
6
element is divisible by 3
7
not divisible by 3
8
not divisible by 3
9
element is divisible by 3
10
not divisible by 3
11
not divisible by 3
12
element is divisible by 3
13
not divisible by 3
14
not divisible by 3
15
element is divisible by 3
16
not divisible by 3
17
not divisible by 3
18
element is divisible by 3
19
not divisible by 3
2
not divisible by 3
0
element is divisible by 3
21
element is divisible by 3
231
element is divisible by 3
34
not divisible by 3
3
element is divisible by 3

Question: 6

mutable:
mutable objects are those which can be modify or change by using indexing.
example list

In [42]:
l1=[12,23,24]

In [44]:
l1[0]

12

In [45]:
l1[0]=245

In [47]:
l1

[245, 23, 24]

imutabble:obect which are not modify or changr by indexing.example string

In [49]:
sa= "john"

In [50]:
sa[0]

'j'

In [51]:
sa[0]="p"

TypeError: 'str' object does not support item assignment